# Terraform
.terraform/
*.tfstate
*.tfstate.*
terraform.tfvars
.terraform.lock.hcl

# AWS Keys
*.pem

# Maven
target/

# Logs
*.log

# IDE
.idea/
.vscode/

# Node
node_modules/

# OS
.DS_Store
Thumbs.db